<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HelloWorld</title>
</head>
<body>

    <header>
        <a href="/">Página Inicial</a>
        <a href="/Home/About">Sobre</a>
        <a href="/Home/Contact">Contato</a>
    </header>

    <main>
        @RenderBody()
    </main>

        <footer>
            &copy; Eu!
        </footer>

</body>
</html>